/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* line 13, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 48, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 52, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 57, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/************************* sticky footer ********************************/
/* line 63, ../sass/_reset.scss */
html, body {
  height: 100%;
}

/* line 66, ../sass/_reset.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -32px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 72, ../sass/_reset.scss */
.footer, .push {
  height: 32px;
  /* .push must be the same height as .footer */
}

/* line 3, ../sass/main.scss */
body {
  background-image: url(../images/bg.jpg);
  background-color: #b4c5d6;
  background-size: cover;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  text-align: center;
}

/* line 12, ../sass/main.scss */
#toolbar {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
  /*background: linear-gradient(to bottom, $startColor $startPer,$endColor $endPer); /* W3C */
  margin: 200px auto;
  -webkit-box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.4) inset, 1px 0px 1px rgba(255, 255, 255, 0.4) inset, -1px 0px 1px rgba(255, 255, 255, 0.4) inset, 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.4) inset, 1px 0px 1px rgba(255, 255, 255, 0.4) inset, -1px 0px 1px rgba(255, 255, 255, 0.4) inset, 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.4) inset, 1px 0px 1px rgba(255, 255, 255, 0.4) inset, -1px 0px 1px rgba(255, 255, 255, 0.4) inset, 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
/* line 18, ../sass/main.scss */
#toolbar li {
  float: left;
}
/* line 20, ../sass/main.scss */
#toolbar li a {
  padding: 15px 20px;
  display: block;
  border-right: 1px solid #a8a8a8;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 20px;
}
/* line 26, ../sass/main.scss */
#toolbar li a i {
  background-color: #6b7987;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b7987), color-stop(36%, #889aac));
  background-image: -webkit-linear-gradient(top, #6b7987 0%, #889aac 36%);
  background-image: -moz-linear-gradient(top, #6b7987 0%, #889aac 36%);
  background-image: -ms-linear-gradient(top, #6b7987 0%, #889aac 36%);
  background-image: -o-linear-gradient(top, #6b7987 0%, #889aac 36%);
  background-image: linear-gradient(top, #6b7987, #889aac);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
  /*background: linear-gradient(to bottom, $startColor $startPer,$endColor $endPer); /* W3C */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 31, ../sass/main.scss */
#toolbar li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
  /*background: linear-gradient(to bottom, $startColor $startPer,$endColor $endPer); /* W3C */
}
/* line 34, ../sass/main.scss */
#toolbar li a:focus, #toolbar li a:active {
  /*@include background-gradient(rgba(0,0,0,0.1), 0%, rgba(255,255,255,0.5), 100%);*/
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  outline: none;
}
/* line 40, ../sass/main.scss */
#toolbar li:first-child a {
  border-left: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
/* line 44, ../sass/main.scss */
#toolbar li:last-child a {
  border-right: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}
